<%- include('../partials/header') %>

<form id="new-form" action="/campaigns" method="POST">
    <label>Name: </label>
    <input type="text" name="name">
    <input type="submit" value="Create Campaign">
</form>

<p><%= errorMsg %></p>

<%- include('../partials/footer') %>