<%- include('../partials/header') %>

<form action="/users/<%= user._id %>/chars" method="POST">
    <div id="edit-name">Name: <input type="text" name="name"></div>
    <section id="show-char">
        <div>Level: <input type="number" name="level"></div>
        <div>Race: <input type="text" name="race"></div>
        <div>Class:
        <select name="class">
            <option value="artificer">Artificer</option>
            <option value="barbarian">Barbarian</option>
            <option value="bard">Bard</option>
            <option value="cleric">Cleric</option>
            <option value="druid">Druid</option>
            <option value="fighter">Fighter</option>
            <option value="monk">Monk</option>
            <option value="paladin">Paladin</option>
            <option value="ranger">Ranger</option>
            <option value="rogue">Rogue</option>
            <option value="sorcerer">Sorcerer</option>
            <option value="warlock">Warlock</option>
            <option value="wizard">Wizard</option>
        </select>
        </div>
    </section>
    <section id="hp-ac">
        <div>HP: <input type="number" name="hp"></div>
        <div>AC: <input type="number" name="ac"></div>
    </section>

    <section id="stats">
        <div>Strength: <br>
        <input type="number" name="str" value="10">
        <small></small></div>

        <div>Dexterity: <br>
        <input type="number" name="dex" value="10">
        <small></small></div>

        <div>Constitution: <br>
        <input type="number" name="con" value="10">
        <small></small></div>

        <div>Intelligence: <br>
        <input type="number" name="int" value="10">
        <small></small></div>

        <div>Wisdom: <br>
        <input type="number" name="wis" value="10">
        <small></small></div>

        <div>Charisma: <br>
        <input type="number" name="cha" value="10">
        <small></small></div>

    </section>
    <button class="char-edit-button" type="submit">CREATE CHARACTER</button>
</form>

<p><%= errorMsg %></p>

<%- include('../partials/footer') %>